.container{
    display:flex;
}
[href] :hover{
    background-color: rgb(240,191,211);
}

[href] a{
    background-color: rgb(255, 229, 245);
    border-radius: 0px 20px 0px 0px;
    color: rgb(219, 44, 152);
    padding: 10px 10px 5px 10px;
    margin: 0px;
    width: 80px;
}
ul li b{
    color: rgb(173, 32, 84);
}
body div p b{
    color: rgb(173, 32, 84);
}
div ul li a{
    color: rgb(219, 44, 152);
}    
div h2 b{
    background-color: rgb(244, 177, 219);
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}
div b h2{
    background-color: rgb(240, 191, 221);
    padding: 10px;
}
